---
import Layout from '@/layouts/Layout.astro'
import Generator from '@/components/Generator.astro'
---

<Layout title="GitHub Profile Generator | GitHub Profile Readme Generator">
	<main>
		<!-- Banner -->
		<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16 pt-20 text-center lg:pt-22">
			<h1 class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-slate-900 sm:text-7xl dark:text-gray-200">
				<span class="relative whitespace-nowrap text-blue-600">
					Awesome
				</span> GitHub Profile Generator
			</h1>
			<p class="mx-auto mt-6 max-w-2xl text-lg tracking-tight text-slate-700 dark:text-slate-500">Create awesome GitHub profiles with GitHub Profile Generator. Showcase your skills and projects easily with GitHub Profile Generator.</p>
		</div>

		<!-- Generator Form -->
		<Generator />
		<section class="w-full flex items-center bg-light-100 dark:bg-dark-800 py-24"><article class="container mx-auto flex-col flex items-start"><div class="flex flex-col md:flex-row w-full items-center gap-x-8 gap-y-8"><div class="flex flex-col w-full md:w-1/2 items-center md:items-start gap-y-4" style="opacity: 1; transform: translateX(0px) translateZ(0px);"><h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight mb-0">Show off your <span class="text-brand">skills</span></h2><p class="text-lg text-center md:text-left mb-0">Select from over 60 core languages, frameworks, backend technologies and web 3 tech.</p></div><div class="flex flex-col gap-y-4 md:ml-auto" style="opacity: 1; transform: translateX(0px) translateZ(0px);"><div class="flex gap-x-4 items-center"><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/c-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="C icon"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/html5-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="HTML5"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/javascript-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="JavaScript"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/tailwindcss-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Tailwind CSS"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/typescript-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="TypeScript"></div></div><div class="flex gap-x-4 items-center"><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/php-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="PHP"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/vuejs-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Vue JS"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/supabase-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Supabase"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/figma-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Figma"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/react-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="React JS"></div></div><div class="flex gap-x-4 items-center"><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nuxtjs-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Next JS"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nestjs-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Nest JS"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/angularjs-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Angular JS"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/babel-colored.svg" width="100%" class="flex dark:hidden scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Babel"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/babel-dark.svg" width="100%" class="dark:flex hidden scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Babel"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/python-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Python"></div></div><div class="flex gap-x-4 items-center"><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/firebase-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Firebase"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/flutter-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Flutter"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/express-colored.svg" width="100%" class="flex dark:hidden scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Express JS"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/express-dark.svg" width="100%" class="hidden dark:flex scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Express JS"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/gatsby-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Gatbsy"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/graphql-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="GraphQL"></div></div><div class="flex gap-x-4 items-center"><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/bootstrap-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Bootstrap"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/swift-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Swift"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/dart-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Dart"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/svelte-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Svelte"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/sass-colored.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="SaaS"></div></div></div></div></article></section>
		<section class="w-full flex items-center bg-light-100 dark:bg-dark-800 py-24"><article class="container mx-auto flex-col flex items-start justify-center"><div class="flex flex-col-reverse md:flex-row w-full items-center gap-x-8 gap-y-8"><div class="flex flex-col gap-y-4" style="opacity: 1; transform: translateX(0px) translateZ(0px);"><div class="flex gap-4 mx-auto items-center"><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/polywork.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Polywork"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/facebook.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Facebook"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/instagram.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Instagram"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/hashnode.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Hashnode"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/codesandbox.svg" width="100%" class="flex dark:hidden scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="CodeSandbox"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/codesandbox-dark.svg" width="100%" class="dark:flex hidden scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="CodeSandbox"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/twitch.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Twitch"></div></div><div class="flex gap-4 mx-auto items-center"><div class="w-10 sm:w-12 md:w-12"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/stackoverflow.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Stack Overflow"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/youtube.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="YouTube"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/discord.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Discord"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/dribbble.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Dribbble"></div><div class="w-10 sm:w-12 md:w-12"></div></div><div class="flex gap-4 mx-auto items-center"><div class="w-10 sm:w-12 md:w-12"></div><div class="w-10 sm:w-12 md:w-12"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/twitter.svg" width="100%" class="scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="X"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/medium.svg" width="100%" class="flex dark:hidden scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Medium"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/medium-dark.svg" width="100%" class="dark:flex hidden scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Medium"></div><div class="w-10 sm:w-12 md:w-12"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/threads.svg" width="100%" class="flex dark:hidden scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Threads"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/threads-dark.svg" width="100%" class="dark:flex hidden scale-100 transition-all duration-300 hover:scale-125 ease-in-out" alt="Threads"></div><div class="w-10 sm:w-12 md:w-12"></div><div class="w-10 sm:w-12 md:w-12"></div></div></div><div class="flex grow flex-col md:items-end justify-end items-center gap-y-4 md:ml-auto" style="opacity: 1; transform: translateX(0px) translateZ(0px);"><h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight mb-0">Share your <span class="text-brand">socials</span></h2><p class="text-lg mb-0">Add links to all of your social profiles and blogs in seconds.</p></div></div></article></section>
		<section class="w-full flex items-center bg-light-100 dark:bg-dark-800 py-24"><article class="container mx-auto flex flex-col md:flex-row items-center justify-center gap-y-8"><div class="flex w-full md:w-1/2 flex-col items-center md:items-start gap-y-4" style="opacity: 1; transform: translateX(0px) translateZ(0px);"><h2 class="text-4xl sm:text-5xl md:text-6xl leading-tight mb-0">Add some <span class="text-brand">stats</span></h2><p class="text-lg text-center md:text-left mb-0">Show visitors some key facts through charts, graphs and badges.</p></div><div class="w-full md:w-1/2 block relative" style="opacity: 1; transform: translateX(0px) translateZ(0px);"><div class="dark:hidden block relative h-48 sm:h-80 overflow-hidden"><img alt="Statistics illustration" loading="lazy" decoding="async" data-nimg="fill" class="object-fit" src="/stats-illustration.svg" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></div><div class="hidden dark:block relative h-48 sm:h-80 overflow-hidden"><img alt="Statistics illustration" loading="lazy" decoding="async" data-nimg="fill" class="object-fit" src="/stats-illustration-dark.svg" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"></div></div></article></section>
		<!-- FAQ -->
		<section class="pt-8 md:pt-12 lg:pt-20 dark:text-white">
			<div class="container px-6 mx-auto text-center">
				<h2 class="text-2xl font-black sm:text-4xl md:text-4xl lg:text-5xl">Awesome GitHub Profile Readme Generator</h2>
				<!-- <div class="max-w-xl mx-auto mt-2 text-lg font-light leading-tight text-gray-500 sm:text-xl md:text-2xl">
					<p>Want a awesome GitHub profile? Showcase your skills and projects easily with GitHub Profile Generator. Just fill a form, get a markdown code, and paste it to your profile repo. Customize it as you wish. GitHub Profile Generator: the best way to stand out on GitHub.</p>
				</div> -->
			</div>
			<div class="container px-6 mx-auto">
				<div class="grid gap-8 pt-10 md:py-20 md:gap-12 lg:gap-20 md:grid-cols-2">
					<div>
						<h3 class="text-xl font-semibold md:text-2xl">Fast Profile Generate</h3>
						<div class="mt-2 leading-relaxed">
							<p>GitHub Profile Generator is designed to be fast and easy to use. You don't need to have any coding skills or experience to use it.</p>
						</div>
					</div>
					<div>
						<h3 class="text-xl font-semibold md:text-2xl">Show Your Tech Stack</h3>
						<div class="mt-2 leading-relaxed">
							<p>One of the benefits of using GitHub Profile Generator is that you can show your tech stack to the world.</p>
						</div>
					</div>
					<div>
						<h3 class="text-xl font-semibold md:text-2xl">Showcase Your Projects</h3>
						<div class="mt-2 leading-relaxed">
							<p>You can list the names and links of your projects, and provide a brief description of what they are and what they do</p>
						</div>
					</div>
					<div>
						<h3 class="text-xl font-semibold md:text-2xl">Customize Your Readme</h3>
						<div class="mt-2 leading-relaxed">
							<p>You can change the colors, fonts, sizes, styles, layouts, etc. that reflects your personality and style.</p>
						</div>
					</div>
					<div>
						<h3 class="text-xl font-semibold md:text-2xl">How to Create Profile Readme Generator</h3>
						<div class="mt-2 leading-relaxed">
							<p>Creating a GitHub profile readme with GitHub Profile Generator is very simple and straightforward. You just need to follow these steps:</p>
							<ol class="list-decimal list-inside mb-4">
								<li>Go to the GitHub Profile Generator website.</li>
								<li>Fill out the form with your information. You can use the placeholders as examples.</li>
								<li>Click on the "Generate Readme" button.</li>
								<li>Preview the generated markdown code and see how it looks like on your GitHub profile.</li>
								<li>Copy the code and paste it into your GitHub profile repository.</li>
								<li>Enjoy your new and improved GitHub profile readme.</li>
							</ol>
						</div>
					</div>
					<div>
						<h3 class="text-xl font-semibold md:text-2xl">A Github profile sample code</h3>
						<div class="mt-2 leading-relaxed">
							<ul class=" mb-4">
								<li>Hi, I'm Alice 👋</li>
					
								<li>I'm a web developer and designer who loves creating beautiful and functional websites. I have a passion for learning new technologies and exploring new ideas.</li>
					
								<li>🌎 I'm from Tokyo, Japan</li>
					
								<li>📫 You can reach me at alice@example.com</li>
					
								<li>🛠️ I use these technologies:</li>
					
								<li class="list-disc list-inside">HTML</li>
								<li class="list-disc list-inside">CSS</li>
								<li class="list-disc list-inside">JavaScript</li>
								<li class="list-disc list-inside">React</li>
								<li class="list-disc list-inside">TailwindCSS</li>
								<li class="list-disc list-inside">Node.js</li>
								<li class="list-disc list-inside">MongoDB</li>
					
								<li>🚀 I'm working on these projects:</li>
					
								<li class="list-disc list-inside">Portfolio - A personal portfolio website to showcase my skills and projects.</li>
								<li class="list-disc list-inside">Todo App - A simple and elegant todo app with React and TailwindCSS.</li>
								<li class="list-disc list-inside">Blog - A blog where I share my thoughts and experiences on web development and design.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="flex flex-col items-center container px-6 mx-auto border-t border-slate-400/10 py-10 sm:flex-row-reverse sm:justify-between">
		<div class="flex gap-x-6">
			<!-- <a class="group" aria-label="TaxPal on Twitter" href="https://twitter.com">
				<svg aria-hidden="true" class="h-6 w-6 fill-slate-500 group-hover:fill-slate-700"><path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0 0 22 5.92a8.19 8.19 0 0 1-2.357.646 4.118 4.118 0 0 0 1.804-2.27 8.224 8.224 0 0 1-2.605.996 4.107 4.107 0 0 0-6.993 3.743 11.65 11.65 0 0 1-8.457-4.287 4.106 4.106 0 0 0 1.27 5.477A4.073 4.073 0 0 1 2.8 9.713v.052a4.105 4.105 0 0 0 3.292 4.022 4.093 4.093 0 0 1-1.853.07 4.108 4.108 0 0 0 3.834 2.85A8.233 8.233 0 0 1 2 18.407a11.615 11.615 0 0 0 6.29 1.84"></path></svg>
			</a> -->
			<a class="group" aria-label="TaxPal on GitHub" href="https://github.com/wuyasong">
				<svg aria-hidden="true" class="h-6 w-6 fill-slate-500 group-hover:fill-slate-700"><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0 1 12 6.844a9.59 9.59 0 0 1 2.504.337c1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.02 10.02 0 0 0 22 12.017C22 6.484 17.522 2 12 2Z"></path></svg>
			</a>
		</div>
		<p class="mt-6 text-sm text-slate-500 sm:mt-0">Copyright © <!-- -->2024<!-- --> wuyasong. All rights reserved.</p>
	</footer>
</Layout>
