
<div class="col-span-6 sm:col-span-3">
    <button id="addItem" class="px-3 py-1.5 mb-4 text-sm text-gray-600 duration-100 border rounded-lg hover:text-amber-500 hover:border-amber-500" type="button">
        Add Item
    </button>
    <div id="posts"></div>
</div>