---
import Navbar from '@/components/Navbar.astro'
import { getLangFromUrl } from '@/i18n/utils'
import "@/styles/global.css"

interface Props {
	title: string
}

const { title } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Awsome github profile generator" />
		<meta name="keywords" content="github profile generator, github profile readme generator, profile creator, profile readme generator, github profile readme">
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<title>{title}</title>
	</head>
	<body class="flex h-full flex-col dark:bg-neutral-800">
		<Navbar />
		<slot />
		<div style="display: none;">
			<!-- Google tag (gtag.js) -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-8CWJ1N5NH3"></script>
			<script>
			window.dataLayer = window.dataLayer || [];
			// @ts-ignore
			function gtag(){dataLayer.push(arguments);}
			// @ts-ignore
			gtag('js', new Date());

			// @ts-ignore
			gtag('config', 'G-8CWJ1N5NH3');
			</script>
		</div>
	</body>
</html>
