---
import Navbar from '@/components/Navbar.astro'
import { getLangFromUrl } from '@/i18n/utils'
import "@/styles/global.css"

interface Props {
	title: string
	showTemplate?: boolean
}

const { title, showTemplate } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Awsome github profile readme generator" />
		<meta name="keywords" content="github profile generator, github profile readme generator, profile creator, profile readme generator, github profile readme">
		<meta name="viewport" content="width=device-width" />
		<meta name="google-adsense-account" content="ca-pub-5867915342436534">
		
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<title>{title}</title>
        <script
          data-name="BMC-Widget"
          src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
          data-id="wuyasong"
          data-description="Support me on Buy me a coffee!"
          data-message="Loved the tool🚀. Buy me a coffee to support the work!"
          data-color="#FF813F"
          data-position=""
          data-x_margin="18"
          data-y_margin="18"
        ></script>
	</head>
	<body class="flex h-full flex-col dark:bg-neutral-800">
		<!-- <div class="group relative top-0 bg-indigo-600 py-3 text-white transition-all duration-300 md:py-0"><div class="container flex flex-col items-center justify-center gap-4 md:h-12 md:flex-row"><a target="_blank" class="inline-flex text-xs leading-normal md:text-sm" href="https://omni-human.org">✨<span class="ml-1 font-[580] dark:font-[550]">omni-human.org is now arrived. Learn more OmniHuman-1.</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right ml-1 mt-[3px] hidden size-4 transition-all duration-300 ease-out group-hover:translate-x-1 lg:inline-block"><path d="m9 18 6-6-6-6"></path></svg></a></div></div> -->
		<!-- <div class="group relative top-0 bg-indigo-600 py-3 text-white transition-all duration-300 md:py-0"><div class="container flex flex-col items-center justify-center gap-4 md:h-12 md:flex-row"><a target="_blank" class="inline-flex text-xs leading-normal md:text-sm" href="https://gokuai.pro">✨<span class="ml-1 font-[580] dark:font-[550]">gokuai.pro is now arrived. Learn more Goku AI.</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right ml-1 mt-[3px] hidden size-4 transition-all duration-300 ease-out group-hover:translate-x-1 lg:inline-block"><path d="m9 18 6-6-6-6"></path></svg></a></div></div> -->
		<!-- <div class="group relative top-0 bg-indigo-600 py-3 text-white transition-all duration-300 md:py-0"><div class="container flex flex-col items-center justify-center gap-4 md:h-12 md:flex-row"><a target="_blank" class="inline-flex text-xs leading-normal md:text-sm" href="https://wan21.net/">✨<span class="ml-1 font-[580] dark:font-[550]">Wan 2.1 AI Video Generator is now arrived. Learn more Wan AI.</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right ml-1 mt-[3px] hidden size-4 transition-all duration-300 ease-out group-hover:translate-x-1 lg:inline-block"><path d="m9 18 6-6-6-6"></path></svg></a></div></div> -->
		<!-- <div class="group relative top-0 bg-indigo-600 py-3 text-white transition-all duration-300 md:py-0"><div class="container flex flex-col items-center justify-center gap-4 md:h-12 md:flex-row"><a target="_blank" class="inline-flex text-xs leading-normal md:text-sm" href="https://ghibliai.co/">✨<span class="ml-1 font-[580] dark:font-[550]">Ghibli AI Image Generator is now arrived. Learn more Ghibli AI.</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right ml-1 mt-[3px] hidden size-4 transition-all duration-300 ease-out group-hover:translate-x-1 lg:inline-block"><path d="m9 18 6-6-6-6"></path></svg></a></div></div> -->
		<!-- <div class="group relative top-0 bg-indigo-600 py-3 text-white transition-all duration-300 md:py-0"><div class="container flex flex-col items-center justify-center gap-4 md:h-12 md:flex-row"><a target="_blank" class="inline-flex text-xs leading-normal md:text-sm" href="https://faceswag.org">✨<span class="ml-1 font-[580] dark:font-[550]">Face Swag is now arrived. Learn more AI Face Swap.</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right ml-1 mt-[3px] hidden size-4 transition-all duration-300 ease-out group-hover:translate-x-1 lg:inline-block"><path d="m9 18 6-6-6-6"></path></svg></a></div></div> -->
		<!-- <div class="group relative top-0 bg-indigo-600 py-3 text-white transition-all duration-300 md:py-0"><div class="container flex flex-col items-center justify-center gap-4 md:h-12 md:flex-row"><a target="_blank" class="inline-flex text-xs leading-normal md:text-sm" href="https://magi-1.video">✨<span class="ml-1 font-[580] dark:font-[550]">Magi-1 is now arrived. Learn more AI Video Generator.</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right ml-1 mt-[3px] hidden size-4 transition-all duration-300 ease-out group-hover:translate-x-1 lg:inline-block"><path d="m9 18 6-6-6-6"></path></svg></a></div></div> -->

		<div class="group relative top-0 bg-indigo-600 py-3 text-white transition-all duration-300 md:py-0"><div class="container flex flex-col items-center justify-center gap-4 md:h-12 md:flex-row"><a target="_blank" class="inline-flex text-xs leading-normal md:text-sm" href="https://grok4-ai.com/">✨<span class="ml-1 font-[580] dark:font-[550]">Grok4 is now arrived. Learn more Grok4.</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right ml-1 mt-[3px] hidden size-4 transition-all duration-300 ease-out group-hover:translate-x-1 lg:inline-block"><path d="m9 18 6-6-6-6"></path></svg></a></div></div>

		<Navbar showTemplate={showTemplate} />
		
		<a class="mx-auto" href="https://www.producthunt.com/posts/github-profile-readme-generator-3?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-github&#0045;profile&#0045;readme&#0045;generator&#0045;3" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=437744&theme=light" alt="github&#0032;profile&#0032;readme&#0032;generator - Create&#0032;awesome&#0032;GitHub&#0032;profile&#0032;README&#0044;&#0032;over&#0032;300&#0032;templates | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
		<slot />
        {/* BuyMeACoffee */}
        <a
          href="https://www.buymeacoffee.com/wuyasong"
          class="fixed bottom-2 right-2 flex items-center justify-evenly bg-yellow-400 shadow-md shadow-slate-300 text-xs rounded-md text-black py-2 px-4 my-2"
          target="_blank"
          rel="noreferrer"
        >
          <img
            class="w-6 h-6 mr-2"
            src="https://www.vectorlogo.zone/logos/buymeacoffee/buymeacoffee-icon.svg"
            alt="Buy wuyasong A Coffee"
          />
          Buy me a coffee
        </a>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5867915342436534"
     crossorigin="anonymous"></script>

		<!-- link -->
		<div class="opacity-0">
			<!-- <a href="https://vision-pro.im" title="apple vision pro blog">apple vision pro blog</a> -->
			<!-- <a href="https://www.qiuyumi.com/whois/?domain=githubprofile.com" title="github profile readme generator">githubprofilereadmegenerator</a> -->
			<!-- <a href="https://link.zhihu.com/?target=https://githubprofile.com">github profile readme generator</a> -->
			<!-- <a href="https://imagetoprompt.club" title="image to prompt">Image To Prompt</a> -->
			<!-- <a href="https://liveportraitai.com/" title="LivePortrait AI">LivePortrait AI</a> -->
			<!-- <a href="https://fluximage.org/" title="FLux Image AI">FLux Image AI</a> -->
			<!-- <a href="https://nemotron.one/" title="Nemotron AI Chat">Nemotron AI Chat</a> -->
			<!-- <a href="https://minecraftai.app" title="Minecraft AI">Minecraft AIt</a> -->
			<!-- <a href="https://wan21.net" title="Wan 2.1 AI">Wan 2.1 AI</a> -->
			<a href="https://magi-1.video" title="Magi-1 Video">Magi-1 Video</a>
			<a href="https://grok4-ai.com/" title="Grok 4">Grok 4</a>
		</div>
		<div style="display: none;">
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-8CWJ1N5NH3"></script>
			<script>
			window.dataLayer = window.dataLayer || [];
			// @ts-ignore
			function gtag(){dataLayer.push(arguments);}
			// @ts-ignore
			gtag('js', new Date());

			// @ts-ignore
			gtag('config', 'G-8CWJ1N5NH3');
			</script>
		</div>
	</body>
</html>
