---
import Navbar from '@/components/Navbar.astro'
import { getLangFromUrl } from '@/i18n/utils'
import "@/styles/global.css"

interface Props {
	title: string
	showTemplate?: boolean
}

const { title, showTemplate } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Awsome github profile generator" />
		<meta name="keywords" content="github profile generator, github profile readme generator, profile creator, profile readme generator, github profile readme">
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<title>{title}</title>
        <script
          data-name="BMC-Widget"
          src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
          data-id="wuyasong"
          data-description="Support me on Buy me a coffee!"
          data-message="Loved the tool🚀. Buy me a coffee to support the work!"
          data-color="#FF813F"
          data-position=""
          data-x_margin="18"
          data-y_margin="18"
        ></script>
	</head>
	<body class="flex h-full flex-col dark:bg-neutral-800">
		<Navbar showTemplate={showTemplate} />
		<a class="mx-auto" href="https://www.producthunt.com/posts/github-profile-readme-generator-3?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-github&#0045;profile&#0045;readme&#0045;generator&#0045;3" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=437744&theme=light" alt="github&#0032;profile&#0032;readme&#0032;generator - Create&#0032;awesome&#0032;GitHub&#0032;profile&#0032;README&#0044;&#0032;over&#0032;300&#0032;templates | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
		<slot />
        {/* BuyMeACoffee */}
        <a
          href="https://www.buymeacoffee.com/wuyasong"
          class="fixed bottom-2 right-2 flex items-center justify-evenly bg-yellow-400 shadow-md shadow-slate-300 text-xs rounded-md text-black py-2 px-4 my-2"
          target="_blank"
          rel="noreferrer"
        >
          <img
            class="w-6 h-6 mr-2"
            src="https://www.vectorlogo.zone/logos/buymeacoffee/buymeacoffee-icon.svg"
            alt="Buy wuyasong A Coffee"
          />
          Buy me a coffee
        </a>

		<!-- link -->
		<div class="opacity-0">
			<a href="https://vision-pro.im">apple vision pro blog</a>
			<a href="https://www.qiuyumi.com/whois/?domain=githubprofile.com">githubprofilereadmegenerator</a>
			<a href="https://www.jianshu.com/go-wild?ac=2&url=https://githubprofile.com">githubprofilereadmegenerator</a>
			<a href="https://link.csdn.net/?target=https://githubprofile.com">githubprofilereadmegenerator</a>
			<a href="https://www.chinaz.com/go.shtml?url=https://githubprofile.com">githubprofilereadmegenerator</a>
			<a href="https://wwwa.internic.at/bin/agb?hostname=githubprofile.com/">this website</a>
			<a href="http://sme.in/authenticate.aspx?pagename=https://githubprofile.com">follow us</a>
			<a href="http://artprizes.vivait.com.au/adredirector?ad=9x5%20landscape%202020&target=https://githubprofile.com">read more</a>
			<a href="https://biblio.imar.ro/cgi-bin/koha/tracklinks.pl?uri=https://githubprofile.com/">this link</a>
			<a href="http://avtoline.ru/bitrix/redirect.php?goto=https://githubprofile.com">check this link</a>
			<a href="http://xn--b1afih.xn--h1adpnc1d.xn--j1amh/redirect/?go=https://githubprofile.com/">check this out</a>
			<a href="http://moodle.ismpo.sk/calendar/set.php?var=showglobal&return=https://githubprofile.com/">visit link</a>
			<a href="http://axelerator.bz/bitrix/redirect.php?goto=https://githubprofile.com">check this site</a>
			<a href="http://isralink.net/go/?c=https://githubprofile.com">this site</a>
			<a href="https://spb.getfaster.ru/bitrix/redirect.php?goto=https://githubprofile.com">check this site</a>
			<a href="https://www.inspirock.com/widget/attraction.js?widget-id=inspirock-attraction-widget-868299&v=1&trip-planner-domain=githubprofile.com/&attraction-id=362607737">click here</a>
			<a href="https://www.darkelf.sk/fig/redirect.asp?url=https://githubprofile.com">visit link</a>
			<a href="https://netzteilenotebook.com/trigger.php?r_link=https://githubprofile.com">check now</a>
			<a href="http://sinbirank.dental-clinic.com/japan/cgi/rank.cgi?mode=link&id=533&url=https://githubprofile.com">visit us</a>
			<a href="https://megapechi.ru:443/bitrix/redirect.php?event1=&event2=&event3=&goto=https://githubprofile.com">visit link</a>
			<a href="https://www.google.hr/url?sr=1&ct2=jp/0_0_s_0_1_a&sa=t&usg=afqjcnhj_edq-p32eijs6gjxly0yvylfvg&cid=52779144202765&url=https://githubprofile.com">check this link</a>
			<a href="https://www.tsu.ru/bitrix/rk.php?goto=https://githubprofile.com">read link</a>
			<a href="https://kickgoods.ru:443/bitrix/redirect.php?goto=https://githubprofile.com">read more</a>
			<a href="https://clinicbeton.blogsky.com/dailylink/?go=https://githubprofile.com/&id=1">contact us</a>
			<a href="https://energoprime.ru/bitrix/redirect.php?goto=https://githubprofile.com/">check now</a>
			<a href="https://kurgan.kolesa-darom.ru/bitrix/rk.php?goto=https://githubprofile.com">follow us</a>
			<a href="http://en.thesuperplay.com/member/login.html?nomemberorder=&returnurl=https://githubprofile.com/">this website</a>
			<a href="https://neomail.cz/api/pixel/click?redirect=https://githubprofile.com">help link</a>
			<a href="http://mx1.hotrank.com.tw/redir/mf-www/home-textd?url=https://githubprofile.com/">help website</a>
			<a href="https://ecscomponentes.es/index.asp?numproductoslistado=25&goto=https://githubprofile.com">website</a>
			<a href="http://dk.dimgames.com/click.php?url=https://githubprofile.com">read more</a>
			<a href="https://m.property24.co.bw/profile/login?returnurl=https://githubprofile.com/">check this link</a>
			<a href="https://www.chivemediagroup.com/?url=https://githubprofile.com">read link</a>
			<a href="http://impa-ufa.ru/bitrix/rk.php?goto=https://githubprofile.com">check this website</a>
			<a href="http://www.newhentai.net/cgi-bin/a2/out.cgi?s=60&u=https://githubprofile.com">this link</a>
			<a href="https://vmnavigator.ru/bitrix/rk.php?goto=https://githubprofile.com">read link</a>
			<a href="https://diletant.media/bitrix/rk.php?goto=https://githubprofile.com">check this website</a>
			<a href="http://gorodkusa.ru/bitrix/redirect.php?event1=click_to_call&event2=&event3=&goto=https://githubprofile.com">read link</a>
			<a href="https://image.google.al/url?q=j&rct=j&url=https://githubprofile.com">know more</a>
			<a href="http://ucilnica1112.fkkt.uni-lj.si/calendar/set.php?return=https://githubprofile.com/&var=showglobal">know more</a>
			<a href="https://www.traditionsjewishgifts.com/cgi-traditionsjewishgifts/sb/ref.cgi?fromid=ref.cgi&storeid=*1aa7fd58e0eb2e500ae97c9fbd4beb&name=af101_-_jewish_american_history_documentation_foundation&url=https://githubprofile.com/&p1=explodeaff15962b422ddd62217ef42a8b20eff7646ca4203a6ad9bb69835904ea95c2935455424070b8e68e633e59c9967103bd&testcookie=on&ip=54.36.150.77">visit us</a>
			<a href="http://libra.kbri.re.kr/_lib_proxy_url/githubprofile.com/">check this link</a>
			<a href="http://www.methodistfasthealth.com/goto.php?url=githubprofile.com/">visit us</a>
			<a href="http://www.made-made.com/member/login.html?nomemberorder=&returnurl=https://githubprofile.com/">know more about us</a>
			<a href="http://www.orth-haus.com/peters_empfehlungen/jump.php?site=https://githubprofile.com/">check this out</a>
			<a href="https://lookoutnewspaper.com/?wptouch_switch=desktop&redirect=https://githubprofile.com/">this website</a>
			<a href="https://lbtd.ru/bitrix/rk.php?goto=https://githubprofile.com">visit us</a>
			<a href="http://shenrouyy.com/wp-content/themes/begin5.2/inc/go.php?url=https://githubprofile.com">know more</a>
			<a href="https://www.asmrgirls.com/external_link/?url=https://githubprofile.com">check now</a>
			<a href="https://www.product.ru/out?url=https://githubprofile.com/">visit link</a>
			<a href="https://marketplace.dailyleader.com/adhunter/brookhaven/home/emailfriend?url=https://githubprofile.com">website</a>
			<a href="https://plantin.onelink.me/ruyw?pid=website&c=website&af_web_dp=https://githubprofile.com">contact</a>
			<a href="https://link.zhihu.com/?target=https://githubprofile.com">github profile readme generator</a>
		</div>
		<!-- <div style="display: none;">
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-8CWJ1N5NH3"></script>
			<script>
			window.dataLayer = window.dataLayer || [];
			// @ts-ignore
			function gtag(){dataLayer.push(arguments);}
			// @ts-ignore
			gtag('js', new Date());

			// @ts-ignore
			gtag('config', 'G-8CWJ1N5NH3');
			</script>
		</div> -->
	</body>
</html>
