---
import Navbar from '@/components/Navbar.astro'
import { getLangFromUrl } from '@/i18n/utils'
import "@/styles/global.css"

interface Props {
	title: string
	showTemplate?: boolean
}

const { title, showTemplate } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Awsome github profile readme generator" />
		<meta name="keywords" content="github profile generator, github profile readme generator, profile creator, profile readme generator, github profile readme">
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<title>{title}</title>
        <script
          data-name="BMC-Widget"
          src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
          data-id="wuyasong"
          data-description="Support me on Buy me a coffee!"
          data-message="Loved the tool🚀. Buy me a coffee to support the work!"
          data-color="#FF813F"
          data-position=""
          data-x_margin="18"
          data-y_margin="18"
        ></script>
	</head>
	<body class="flex h-full flex-col dark:bg-neutral-800">
		<Navbar showTemplate={showTemplate} />
		<a class="mx-auto" href="https://www.producthunt.com/posts/github-profile-readme-generator-3?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-github&#0045;profile&#0045;readme&#0045;generator&#0045;3" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=437744&theme=light" alt="github&#0032;profile&#0032;readme&#0032;generator - Create&#0032;awesome&#0032;GitHub&#0032;profile&#0032;README&#0044;&#0032;over&#0032;300&#0032;templates | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
		<slot />
        {/* BuyMeACoffee */}
        <a
          href="https://www.buymeacoffee.com/wuyasong"
          class="fixed bottom-2 right-2 flex items-center justify-evenly bg-yellow-400 shadow-md shadow-slate-300 text-xs rounded-md text-black py-2 px-4 my-2"
          target="_blank"
          rel="noreferrer"
        >
          <img
            class="w-6 h-6 mr-2"
            src="https://www.vectorlogo.zone/logos/buymeacoffee/buymeacoffee-icon.svg"
            alt="Buy wuyasong A Coffee"
          />
          Buy me a coffee
        </a>

		<!-- link -->
		<div class="opacity-0">
			<!-- <a href="https://udioai.shop" title="Udio AI Music">Udio AI Music</a> -->
			<!-- <a href="https://aiwallpaper.cc" title="AI Wallpaper Generator">AI Wallpaper Generator</a> -->
			<!-- <a href="https://vision-pro.im" title="apple vision pro blog">apple vision pro blog</a> -->
			<a href="https://www.qiuyumi.com/whois/?domain=githubprofile.com" title="github profile readme generator">githubprofilereadmegenerator</a>
			<a href="https://link.zhihu.com/?target=https://githubprofile.com">github profile readme generator</a>
			<a href="https://candytools.pro" title="ai tools">Candytools</a>
		</div>
		<div style="display: none;">
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-8CWJ1N5NH3"></script>
			<script>
			window.dataLayer = window.dataLayer || [];
			// @ts-ignore
			function gtag(){dataLayer.push(arguments);}
			// @ts-ignore
			gtag('js', new Date());

			// @ts-ignore
			gtag('config', 'G-8CWJ1N5NH3');
			</script>
		</div>
	</body>
</html>
